<div class="md:w-6/12 w-10/12 mx-auto">
    <div class="text-center">
        <h2 class="text-2xl font-bold text-gray-600"> Edit Job </h2>
    </div>

    <form [formGroup]="selectJobForm" class="w-full">
        <div class="flex flex-col justify-left md:flex-row md:justify-start md:items-center md:space-x-4 space-y-4 ">
            <div class="md:pt-6">
                <p> SELECT JOB </p>
            </div>
            <div class="">
                <select 
                    formControlName="selectedJob"
                    (change)="onChange()"
                    class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option *ngFor="let job of jobs" [ngValue]="job._id">{{ job.job_title }}</option>
                </select>
            </div>
        </div>
    </form>
    <form [formGroup]="editJobForm" (ngSubmit)="editJob()" class="w-full">
        <div class="my-2">
            <input
                class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                formControlName="job_title" type="text" placeholder="Job Title" required>
        </div>
        <div class="my-2">
            <input
                class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                formControlName="company" type="text" placeholder="Company" required>
        </div>
        <div class="my-2">
            <textarea
                class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                formControlName="job_description" type="text" placeholder="Job Description" rows="10" cols="10" required>
                </textarea>
        </div>
        <div class="my-4">
            <p class="py-2 text-xs"> {{ message }}</p>
            <button
                class="md:w-4/12 py-2 px-4  bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg "
                type="submit"> edit Job 
            </button>
        </div>
    </form>

</div>