<div class="bg-white dark:bg-gray-800 flex flex-col text-center">
    <div class="flex flex-col items-center justify-between w-full mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
        <h2 class="">
            <span class="text-gray-400 font-bold tracking-wide text-7xl">
                Page Not Found
            </span>
        </h2>
        <span  class="text-gray-500 py-6"> 
            <u><strong class="tracking-wide">({{ currentURL }})</strong></u>  is not a valid URL on this Server.
        </span>
        <div class="lg:mt-0  py-12">
            <div class=" inline-flex rounded-md shadow">
                <a  routerLink=""
                    class="py-4 px-6  bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                    Return to the home page
            </a>
            </div>
        </div>
    </div>
</div>