<div class="mx-auto py-12 w-4/5 flex flex-col justify-center rounded shadow-sm">
    <form class="mx-auto">
        <div
            class="flex flex-col md:flex-row md:w-full max-w-sm md:space-x-3 space-y-3 md:space-y-0 justify-between">
            <div class="w-full flex-1">
                <div class=" relative ">
                    <input type="text" id="&quot;form-subscribe-Search"
                        class=" rounded-lg border-transparent appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                        placeholder="Job title " />
                </div>
            </div>
            <div class="text-end flex-1">
                <div class=" relative ">
                    <input type="text" id="&quot;form-subscribe-Search"
                        class=" rounded-lg border-transparent appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                        placeholder="Where " />
                </div>
            </div>
            <div class="">
                <button
                    class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-blue-200"
                    type="submit">
                    Find Jobs
                </button>
            </div>
        </div>
    </form>
    
    <div class=" text-gray-500 text-center mt-6">
       <strong>Employers:</strong> <a href="#"> post job </a>
    </div>

</div>